/* .my-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .my-button:hover {
    background-color: #ddd;
  }
  
  .my-button:active {
    background-color: #eee;
  } */

  /* styles.css */
/* styles.css */

.nav-container {
  background-color: #c82323; 
  
  /* padding-bottom: 2.5rem;  */
}

.nav-header {
  position: relative; 
  background-color: #d87676; 
}

.custom-nav {
  margin-left: auto; 
  margin-right: auto; 
}

.nav-border {
  border-bottom: 1px solid #e2e8f0; 
}

.nav-items {
  display: flex; 
  height: 4rem; 
  align-items: center; 
  padding-left: 2.75rem; 
  padding-right: 2.75rem;  
}
  .nav-buttons {
    position: relative; 
    border-radius: 0.375rem; 
    background-color: #ffffff; 
    padding: 0.5rem; 
    color: #718096; 
  }
  
  @media (min-width: 1024px) {
    .nav-buttons {
      display: none; 
    }
  }


/* Flyout menus */
.popover-group {
  display: none;
  align-self: stretch;
  z-index: 10;
}

@media (min-width: 1024px) {
  .popover-group {
    margin-left: 2rem; 
    display: block; 
  }
}




  .profile-container {
    margin-left: auto; 
    display: flex;
    align-items: center;
  }

.user-profile{
  display: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.profile {
  font-size: 0.875rem;
  font-weight: 500;
  color: #4b5563;
  transition: color 0.2s;
}

.profile:hover {
  color: #2d3748;
}

.custom-divider {
  height: 1.5rem;
  width: 1px;
  background-color: #edf2f7;
}

/* Media Query for lg breakpoint */
@media (min-width: 1024px) {
  .user-profile {
    display: flex;
  }

  .user-profile > * + * {
    margin-left: 1.5rem; 
  }
}


/* Search */
.search {
  display: flex;
  margin-left: 1rem; 
}
.search-link {
  padding: 0.5rem; 
  color: #a0aec0; 
  transition: color 0.2s; 
}

.search-link:hover {
  color: #4a5568; 
}

.search-icon {
  height: 1.5rem;
  width: 1.5rem;
}


/* Cart */
.cart {
  margin-left: 1rem; 
  overflow: hidden; 
}
.go-to-cart {
  display: flex;
  margin: -0.5rem; 
  align-items: center;
  padding: 0.5rem; 
}
.cart-icon {
  height: 1.5rem; 
  width: 1.5rem; 
  flex-shrink: 0;
  color: #a0aec0; 
  transition: color 0.2s;
  
}
.go-to-cart:hover .cart-icon {
  color: #4a5568; 
}

.cart-counter {
  margin-left: 0.5rem; 
  font-size: 0.875rem; 
  font-weight: 500; 
  color: #4b5563; 
}

.go-to-cart:hover .cart-counter {
  color: #2d3748; 
}

@media (min-width: 1024px) {
  .cart {
    margin-left: 1.5rem; 
  }
}