.productCard .textPart{
    transition: transform .3s ease-out;
}
.productCard:hover .textPart{
    transform: translateY(-1rem);
}
.productCard:hover{
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;; 
}