.home_container {
    display: flex;
    background-color: #F7F3F5;
    flex-direction: column;
  }
  
  .home_section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    margin: 7rem;
  }
  
  .home_image {
    width: 550px;
    max-width: 800px;
    height: 543px;
  }
  
  .home_content {
    margin-left: 2rem;
    text-align: left;
  }
  
  .home_title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .home_price{
    font-size: 1.5rem;
  }
  
  .home_description {
    font-size: 1rem;
    margin-bottom:0.5 rem;
    width: 80%;
  }
  
  .home_button {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: #679830;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .home_button:hover {
    /* background-color: darken(#8bc34a, 10%); */
    background-color: #82bb42;
  }


  /*products*/
  .best_selling_products {
    margin: 0rem 0;
  }
  
  .best_selling_products h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
  }
  
  .product_card {
    border: 1px solid #ccc;
    padding: 1rem;
    /* flex-basis: calc(20% - 1rem); */
    text-align: center;
    width: 300px;
  }
  
  .product_card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .product_card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .category {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 1rem;
  }
  
  .rating {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .rating .star {
    font-size: 1.2rem;
    color: #ffc107;
    margin-right: 0.2rem;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .original_price {
    text-decoration: line-through;
    color: #666;
    margin-right: 1rem;
  }
  
  .sale_price {
    color: #f00;
  }